#latest-projects {
    opacity: 0;
}

#latest-projects h1 {
    color: white;
    letter-spacing: 5px;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
}

.divider {
    background-color: #DEB841;
    width: 25px;
    height: 5px;
    margin-top: 25px;
    margin-bottom: 50px;
}

#projects {
    margin-bottom: 150px;
}

#project-1, #project-2, #project-3, #project-4 {
    margin-bottom: 40px;
}

p {
    opacity: 0;
    color: white;
    letter-spacing: 1px;
    font-size: .75rem;
    transition: opacity .75s;
}

.project-img {
    transition: border-top .75s;
}

#project-1:hover p, #project-2:hover p, #project-3:hover p, #project-4:hover p {
    opacity: 1;
}

#project-1:hover .project-img, #project-2:hover .project-img, #project-3:hover .project-img, #project-4:hover .project-img {
    border-top: 10px solid #DEB841;
    padding-top: 10px;
}

@media screen and (min-width: 576px) {
    #latest-projects h1 {
        font-size: 2rem;
    }
    #latest-projects h2 {
        font-size: 1.25rem;
    }
    .divider {
        width: 50px;
        height: 7px;
    }
    p {
        font-size: 1rem;
    }
    #project-1:hover .project-img, #project-2:hover .project-img, #project-3:hover .project-img, #project-4:hover .project-img {
        border-top: 14px solid #DEB841;
        padding-top: 14px;
    }
}

@media screen and (max-width: 576px) {
    p {
        opacity: 1;
    }
}