body {
    background-color: #37323E;
    height: 1000px;
}

#logo {
    max-width: 50%;
    margin-top: 150px;
}

h1 {
    color: white;
    letter-spacing: 6.5px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
}

h2 {
    color: white;
    letter-spacing: 6.5px;
    font-size: .75rem;
    font-family: 'Barlow Condensed', sans-serif;
}

@media screen and (min-width: 576px) {
    #logo {
        max-width: 55%;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    #logo {
        max-width: 45%;
    }
}

@media screen and (min-width: 992px) {
    #logo {
        max-width: 35%;
    }
}

@media screen and (min-width: 1200px) {
    #logo {
        max-width: 30%;
    }
}