body {
    background-color: #37323E;
}

.divider {
    background-color: #DEB841;
    width: 25px;
    height: 5px;
    margin-top: 25px;
    margin-bottom: 50px;
}

@media screen and (min-width: 576px) {
    .divider {
        width: 50px;
        height: 7px;
    }
}