#design h1 {
    color: white;
    letter-spacing: 5px;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 300px;
}

@media screen and (min-width: 576px) {
    #design h1 {
        font-size: 2rem;
    }
    #design h2 {
        font-size: 1.25rem;
    }
}