#web-dev h1 {
    color: white;
    letter-spacing: 5px;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
}

@media screen and (min-width: 576px) {
    #web-dev h1 {
        font-size: 2rem;
    }
    #web-dev h2 {
        font-size: 1.25rem;
    }
}