#web-dev h1 {
    color: white;
    letter-spacing: 5px;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
}

.project {
    border: none;
    margin-bottom: 30px;
    transition: border-top .5s;
}

.project:hover {
    border-top: 14px solid #DEB841;
}

#projects {
    margin-bottom: 150px;
}

@media screen and (min-width: 576px) {
    #web-dev h1 {
        font-size: 2rem;
    }
    #web-dev h2 {
        font-size: 1.25rem;
    }
}