#header {
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 150px;
}

#logo {
    width: 170px;
    margin-top: 100px;
    margin-bottom: 25px;
}

#header h1 {
    color: white;
    letter-spacing: 5px;
    font-size: 1.25rem;
    font-weight: bold;
}

#header h2 {
    color: white;
    letter-spacing: 5px;
    font-size: .75rem;
    margin-bottom: 40px;
}

i {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    transition: color .5s;
}

i:hover {
    color: #DEB841;
}

@media screen and (min-height: 600px) {
    #logo {
        margin-top: 150px;
    }
}

@media screen and (min-height: 700px) {
    #logo {
        margin-top: 200px;
    }
}

@media screen and (min-height: 800px) {
    #logo {
        margin-top: 225px;
    }
}

@media screen and (min-height: 1000px) {
    #logo {
        margin-top: 300px;
    }
    #header {
        margin-bottom: 250px;
    }
}

@media screen and (min-height: 1200px) {
    #logo {
        margin-top: 475px;
    }
}

@media screen and (min-width: 576px) {
    #logo {
        width: 230px;
    }
    #header h1 {
        font-size: 2rem;
    }
    #header h2 {
        font-size: 1.25rem;
    }
}